<!DOCTYPE html>
<html>
<head>
    <title>Mapa de Aberturas e Rompimentos - ALGAR TELECOM</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/mdl/material-icons.css">
    <link rel="stylesheet" href="css/mdl/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel=icon href="images/favicon.png">

    <script src="js/geoxml3-master/kmz/ZipFile.complete.js"></script>
    <script src="js/geoxml3-master/kmz/geoxml3.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- YUJO - tem api do CONNECT-MASTER? -->
    <script type="text/javascript">
        function initialize() {
            $.get("/getPoints", function (data) {
                var points = data.points;
                initMap(points);
            });
        }

        $(document).ready(function () {
            $('#buttonSearch').click(function () {
                searchPlaceByButton($('#pac-input').val());
            });

            var dialog = document.querySelector('dialog');
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            $('#buttonFilter').click(function () {
                dialog.showModal();
            });
            dialog.querySelector('.close').addEventListener('click', function() {
                dialog.close();
            });
        });
    </script>

    <script src="js/markerclusterer.js"></script>
    <script src="js/map.js"></script>

</head>
<body>

<div id="legend" class="controls"><h3>Ocorrências por Cluster</h3></div>
<input class="controls" id="pac-input" type="text" placeholder="Digite um endereço ...">
<button id="buttonSearch" class="controls"><i class="material-icons" id="searchImage">search</i></button>
<button id="buttonFilter" class="controls"><i class="material-icons" id="filterImage">tune</i></button>

<div id="map"></div>
<img src="images/algar-logo.png" id="logoImage">

<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Allow data collection?</h4>
    <div class="mdl-dialog__content">
        <p>
            Allowing us to collect data will let us get you the information you want faster.
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Agree</button>
        <button type="button" class="mdl-button close">Disagree</button>
    </div>
</dialog>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5NNONZMPnkrdvvCWJ9ordrYcybEK16mo&libraries=places&callback=initialize"
        async defer></script>
<script src="js/mdl/material.min.js"></script>

</body>
</html>
