<!DOCTYPE html>
<html>
<head>
    <title>Mapa de Aberturas e Rompimentos - ALGAR TELECOM</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/mdl/material-icons.css">
    <link rel="stylesheet" href="css/mdl/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel=icon href="images/favicon.png">

    <script src="js/geoxml3-master/kmz/ZipFile.complete.js"></script>
    <script src="js/geoxml3-master/kmz/geoxml3.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/mdl/material.min.js"></script>

    <!-- YUJO - tem api do CONNECT-MASTER? -->
    <script type="text/javascript">
        function initialize() {
            $.get("/getPoints", function (data) {
                var points = data.points;
                initMap(points);
            });
        }

        function r(f) {
            /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f()
        }

        $(document).ready(function () {
            $('#buttonSearch').click(function () {
                searchPlaceByButton($('#pac-input').val());
            });

            $('#navButtonRotas').click(function () {
                window.location.replace('/rotas');
            });

            $('#navButtonRompimentos').click(function () {
                window.location.replace('/rompimentos');
            });

            var dialogFilter = document.querySelector('#dialogFiltrar');
            if (!dialogFilter.showModal) {
                dialogPolyfill.registerDialog(dialogFilter);
            }
            $('#buttonFilter').click(function () {
                dialogFilter.showModal();
            });
            dialogFilter.querySelector('.close').addEventListener('click', function () {
                dialogFilter.close();
            });

            $('#buttonDialogApply').click(function () {
                filterMarkers($('#month').val(), $('#year').val());
                dialogFilter.close();
            });

            var dialogUpdate = document.querySelector('#dialogAtualizar');
            if (!dialogUpdate.showModal) {
                dialogPolyfill.registerDialog(dialogUpdate);
            }
            $('#buttonUpdate').click(function () {
                dialogUpdate.showModal();
            });
            dialogUpdate.querySelector('.close').addEventListener('click', function () {
                dialogUpdate.close();
            });
        });
    </script>

    <script src="js/markerclusterer.js"></script>
    <script src="js/map.js"></script>

</head>
<body>

<div id="legend" class="controls"><h3>Ocorrências por Cluster</h3></div>
<input class="controls" id="pac-input" type="text" placeholder="Digite um endereço ...">
<button id="buttonSearch" class="controls"><i class="material-icons toolbarImages">search</i></button>
<button id="buttonFilter" class="controls"><i class="material-icons toolbarImages">tune</i></button>
<button id="buttonUpdate" class="controls"><i class="material-icons toolbarImages">file_upload</i></button>

<div id="map"></div>
<img src="images/algar-logo.png" id="logoImage">

<dialog class="mdl-dialog" id="dialogFiltrar">
    <h4 class="mdl-dialog__title">Filtrar Ocorrencias</h4>
    <div class="mdl-dialog__content">
        <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" id="year" name="year">
                    <option value="-1">Todos</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
                <label class="mdl-textfield__label" for="year" style="padding-left: 5px;">Ano</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" id="month" name="month">
                    <option value="-1">Todos</option>
                    <option value="0">Janeiro</option>
                    <option value="1">Fevereiro</option>
                    <option value="2">Março</option>
                    <option value="3">Abril</option>
                    <option value="4">Maio</option>
                    <option value="5">Junho</option>
                    <option value="6">Julho</option>
                    <option value="7">Agosto</option>
                    <option value="8">Setembro</option>
                    <option value="9">Outubro</option>
                    <option value="10">Novembro</option>
                    <option value="11">Dezembro</option>
                </select>
                <label class="mdl-textfield__label" for="month" style="padding-left: 5px;">Mes</label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
        <button id="buttonDialogApply" type="button" class="mdl-button mdl-js-button mdl-button--primary">Aplicar</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--accent close">Cancelar</button>
    </div>
</dialog>

<dialog class="mdl-dialog" id="dialogAtualizar">
    <h3 class="mdl-layout__title" style="text-align: center; margin-bottom: 10px">
        Configurações
    </h3>
    <div class="mdl-dialog__content">
        <div class="mdl-navigation__link navButton" id="navButtonRotas">
            <i class="material-icons" style="font-size: 33px;">near_me</i>
            <a class="navigation-item" href="/rotas">Rotas</a>
        </div>

        <div class="mdl-navigation__link navButton" id="navButtonRompimentos">
            <i class="material-icons" style="font-size: 33px;">warning</i>
            <a class="navigation-item" href="/rompimentos">Rompimentos</a>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-js-button mdl-button--accent close">Cancelar</button>
    </div>
</dialog>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5NNONZMPnkrdvvCWJ9ordrYcybEK16mo&libraries=places&callback=initialize"
        async defer></script>

</body>
</html>
