<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <title>Mapa de Aberturas e Rompimentos</title>

    <link rel="stylesheet" href="css/mdl/material-icons.css">
    <link rel="stylesheet" href="css/mdl/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/mdl/material.min.js"></script>
</head>
<body>
<script type="text/javascript">
    function r(f) {
        /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f()
    }

    $(document).ready(function () {
        var errors = JSON.parse('<%- errors %>');
        if (errors) {
            r(function () {
                var snackbarContainer = document.querySelector('#toast-error');
                var data = {message: "Usuario e/ou Senha Invalidos"};
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            });
        }

        $('#navButtonRotas').click(function () {
            window.location.replace("/rotas");
        });

        $('#navButtonRompimentos').click(function () {
            window.location.replace("/rompimentos");
        });
    });

</script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Mapa de Aberturas e Rompimentos</span>

            <!-- Add spacer, to align navigation to the right -->
            <!-- Navigation. We hide it in small screens. -->
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col">

                    <div class="demo-card-wide mdl-card mdl-shadow--8dp card-login">
                        <h4 align="center">Login</h4>

                        <div align="center">
                            <form action="/" method="post">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" name="username" type="text" id="username">
                                    <label class="mdl-textfield__label" for="username">Usuario</label>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" name="password" type="password" id="password">
                                    <label class="mdl-textfield__label" for="password">Senha</label>
                                </div>

                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                        style="margin-top: 10px" type="submit">
                                    Entrar
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
        </div>
    </main>
</div>

<div id="toast-error" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>
</html>
